<main class="login-block">
  <h1>Authentication login</h1>
  <form #form="ngForm" (ngSubmit)="login(form.value)" class="login-form">
    <!--Uncomment these two line below to help you to debug-->
    <!--<p>DEBUG Email : {{ email.errors| json}}</p>-->
    <!--<p>DEBUG Password: {{ password.errors| json}}</p>-->
    <p>Hint: password of login backend is h4Xflix </p>
    <p *ngIf="errorLogin" class="form-control-feedback"> Login Fail</p>
    <div class="form-group">
      <input type="text" class="form-control" id="email" name="email"
             placeholder="Email"
             required
             hf-email
             [(ngModel)]="credentials.email"
             #email="ngModel"/>
      <div *ngIf="email.errors && (email.dirty || email.touched)"
           class="form-control-feedback">
        <div [hidden]="!email.errors.required">
          Email is required
        </div>
        <div [hidden]="!email.errors.invalidEmail">
          Email should be a valid email
        </div>
      </div>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" id="password" name="password"
             placeholder="Password"
             required
             minlength="4"
             maxlength="24"
             [ngModel]="credentials.password" (ngModelChanges)="credentials.password =$event"
             #password="ngModel"/>

      <div *ngIf="(password.dirty || password.touched) && password?.errors?.required"
           class="form-control-feedback">
        <div>
          Password is required
        </div>
      </div>
      <div *ngIf="(password.dirty || password.touched) && password?.errors?.minlength"
           class="form-control-feedback">
        <div>
          Password must be at least 4 characters long.
        </div>
      </div>
      <div *ngIf="(password.dirty || password.touched) && password?.errors?.maxlength"
           class="form-control-feedback">
        <div>
          Password cannot be more than 24 characters long.
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success"
            [disabled]="!form.valid">
      Submit
    </button>

  </form>
</main>
