<div class="card mb-3 movie-card">
  <div class="card-block">
    <div class="card-bkg">
      <div class="hero-vignette"></div>
      <img
        alt="Movie Cover"
        class="card-imt-top"
        [src]="getCover(movie.backdrop_path)"
      />
    </div>
    <div class="card-block-detail">
      <h1 class="black">
        {{movie.title}}
      </h1>
      <p class="rating">
        <span>{{movie.vote_average}}</span> / 10
      </p>
      <p class="date">
        {{movie.release_date}}
      </p>
      <p>
        {{movie.overview}}
      </p>
      <button
        class="btn btn-primary"
        (click)="back()">
        Back
      </button>
    </div>
    <div class="card-block-footer">
      <div class="comments-block">
        <hf-comment-form></hf-comment-form>
      </div>
      <div class="movie-comments">
        <!--add comment list here-->
      </div>
    </div>
  </div>
</div>
