<main class="container">
  <h1>Authentication login</h1>
  <form form="form" ngSubmit="login">
    <!--Uncomment these two line below to help you to debug-->
    <!--<p>DEBUG Email : {{ email.errors| json}}</p>-->
    <!--<p>DEBUG Password: {{ password.errors| json}}</p>-->
    <p>Hint: password of login backend is h4Xflix </p>
    <p ngIf="errorLogin" class="alert alert-danger"> Login Fail</p>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email"
             ngModel="credentials.email"
             email="ngModel"/>
      <div ngIf="email.errors && (email.dirty || email.touched)"
           class="alert alert-danger">
        <div hidden="!email.errors.required">
          Email is required
        </div>
        <div hidden="!email.errors.invalidEmail">
          Email should be a valid email
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password"
             ngModel="credentials.password" ngModelChanges="credentials.password"
             #password="ngModel"/>

      <div ngIf="(password.dirty || password.touched) && password.errors.required"
           class="alert alert-danger">
        <div>
          Password is required
        </div>
      </div>
      <div ngIf="(password.dirty || password.touched) && password.errors.minlength"
           class="alert alert-danger">
        <div>
          Password must be at least 4 characters long.
        </div>
      </div>
      <div ngIf="(password.dirty || password.touched) && password.errors.maxlength"
           class="alert alert-danger">
        <div>
          Password cannot be more than 24 characters long.
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success"
            disabled="!form.valid">
      Submit
    </button>

  </form>
</main>
